@font-face {
  font-family: "Kanit";
  src: url("../Kanit-Regular.woff") format("woff"),
    url("../Kanit-Bold.woff") format("woff"),
    url("../Kanit-Regular.woff") format("woff");
}
* {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
}
/* Navbar */
.nav-item .nav-link {
  color: #94a8be;
}

/* Hero */
.custom-hero {
  background: linear-gradient(to right, #713abe, transparent),
    url(../img/hero.png);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 10% 0;
  width: 100%;
  height: 100%;
}

/* button */
button.btn {
  background-color: #ffff;
  color: black;
}

button.btn:hover {
  background-color: #9d76c1;
  color: white;
  border-color: #9d76c1;
}
.icon-purple {
  background-color: purple;
  color: white;
  width: 50%;
  height: 30%;
}

.icon-left {
  margin-right: 100px;
}

.icon-right {
  margin-left: 100px;
}

.carousel-item {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(139, 0, 139, 0.9) 70%
  );
}

.carousel-item img {
  position: relative !important;
  z-index: -99 !important;
}
/* Content */
span {
  color: #9d76c1;
}
/* Tanya Admin Start */
.btn-tanya {
  color: #000;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
}

.btn-tanya:hover {
  background-color: #9d76c1;
  color: #fff;
}
/* Tanya Admin End */

/* Profil */
.custom-box {
  background-color: #9d76c1;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
}

.btn-whatsapp {
  background-color: #421769;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

/* Faq Konseling End */

:root {
  --bg-afeksi-theme: #9d76c1;
}

.color-custom {
  color: var(--color-afeksi-custom);
}

/* FOR DESKTOP ========================================================================================== */
@media only screen and (min-width: 991px) {
  /* HERO */
  .hero {
    background-color: var(--bg-afeksi-theme);
    color: white;
    position: relative;
    overflow: hidden;
  }

  /* ============ HERO LAYERS ================= */
  .hero::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 400%;
    top: -120%;
    left: 70%;
    background-size: 30%;
    transform: rotate(15deg);
    opacity: 0.1;
  }
  .hero::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 300%;
    top: -120%;
    left: -20%;
    background-size: 25%;
    transform: rotate(-15deg);
    opacity: 0.1;
  }

  /* PRIVACY SECTION */
  .container .nav .nav-item .nav-link {
    color: black;
  }

  .accordion .accordion-item-custom {
    margin: 2% 0;
    border: 2px solid lightgrey;
  }

  .accordion .accordion-item-custom:hover {
    border: 2px solid var(--bg-afeksi-theme);
  }

  .accordion .accordion-item-custom .accordion-body {
    margin-top: -20px;
    padding-bottom: 2%;
    font-size: 20px;
    width: 93%;
    margin-left: 30px;
  }

  .accordion-button-custom {
    border: 0;
    background-color: transparent;
    padding: 2% 1.7%;
    width: 100%;
    text-align: start;
    position: relative;
    display: flex;
    margin-left: 30px;
  }

  .accordion-button-custom:hover {
    color: var(--bg-afeksi-theme);
  }

  .accordion-button-custom h2 {
    font-weight: bold;
    font-size: 26.787px;
    width: 80%;
  }

  .arrow[aria-expanded="true"]::after {
    font-family: "Bootstrap-icons";
    content: "\F2EA";
    position: absolute;
    right: 80px;
    font-weight: bold;
  }

  .arrow[aria-expanded="false"]::after {
    font-family: "Bootstrap-icons";
    content: "\F64D";
    position: absolute;
    right: 80px;
    font-weight: bold;
  }
  /* ============================================================ */
}

/* END DESKTOP ==========================================================================================*/

/* FOR TABLETS ==========================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* HERO */
  .hero {
    background-color: var(--bg-afeksi-theme);
    color: white;
    position: relative;
    overflow: hidden;
  }
  footer {
    padding: 30px;
    background-color: #d9d9d9;
  }

  .footer-logo {
    max-width: 80%;
    margin: 0 auto;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }

  .footer-social img {
    width: 25px;
    height: 25px;
  }

  .footer-text {
    text-align: center;
    margin-top: 15px;
    color: #000; /* Adjust text color if needed */
  }
  /* ============ HERO LAYERS ================= */
  .hero::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 400%;
    top: -120%;
    left: 70%;
    background: url(../img/kebijakan-privasi/layer.png) repeat-y;
    background-size: 30%;
    transform: rotate(15deg);
    opacity: 0.1;
  }
  .hero::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 300%;
    top: -120%;
    left: -20%;
    background: url(../img/kebijakan-privasi/layer.png) repeat-y;
    background-size: 25%;
    transform: rotate(-15deg);
    opacity: 0.1;
  }

  /* PRIVACY SECTION */
  .accordion .accordion-item-custom {
    margin: 2% 0;
    border: 2px solid lightgrey;
  }

  .accordion .accordion-item-custom:hover {
    border: 2px solid var(--bg-afeksi-theme);
  }

  .accordion .accordion-item-custom .accordion-body {
    margin-top: -20px;
    padding-bottom: 2%;
    font-size: 16px;
    width: 93%;
    margin-left: 30px;
  }

  .accordion-button-custom {
    border: 0;
    background-color: transparent;
    padding: 2% 1.7%;
    width: 100%;
    text-align: start;
    position: relative;
    display: flex;
    margin-left: 30px;
  }

  .accordion-button-custom:hover {
    color: var(--bg-afeksi-theme);
  }

  .accordion-button-custom h2 {
    font-weight: bold;
    font-size: 20px;
    width: 80%;
  }

  .arrow[aria-expanded="true"]::after {
    font-family: "Bootstrap-icons";
    content: "\F2EA";
    position: absolute;
    right: 80px;
    font-weight: bold;
  }

  .arrow[aria-expanded="false"]::after {
    font-family: "Bootstrap-icons";
    content: "\F64D";
    position: absolute;
    right: 80px;
    font-weight: bold;
  }
}

/* END TABLETS ==========================================================================================*/

/* FOR MOBILE ==========================================================================================*/
@media only screen and (max-width: 767px) {
  /* HERO */
  .hero {
    background-color: var(--bg-afeksi-theme);
    color: white;
    position: relative;
    overflow: hidden;
  }

  /* ============ HERO LAYERS ================= */
  .hero::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 400%;
    top: -110%;
    left: 60%;
    background: url(../img/kebijakan-privasi/layer.png) repeat-y;
    background-size: 70%;
    transform: rotate(30deg);
    opacity: 0.1;
  }
  .hero::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 300%;
    top: -150%;
    left: -80%;
    background: url(../img/kebijakan-privasi/layer.png) repeat-y;
    background-size: 70%;
    transform: rotate(20deg);
    opacity: 0.1;
  }

  /* PRIVACY SECTION */

  .accordion .accordion-item-custom {
    margin: 3% 0;
    border: 2px solid lightgrey;
    overflow: hidden;
  }

  .accordion .accordion-item-custom:hover {
    border: 2px solid var(--bg-afeksi-theme);
  }

  .accordion .accordion-item-custom .accordion-body {
    margin-top: -20px;
    padding-bottom: 2%;
    font-size: 14px;
    /* width: 97%; */
    margin-left: 5px;
  }

  .accordion-button-custom {
    border: 0;
    background-color: transparent;
    padding: 2% 0;
    width: 100%;
    text-align: start;
    position: relative;
    display: flex;
    margin-left: 25px;
  }

  .accordion-button-custom:hover {
    color: var(--bg-afeksi-theme);
  }

  .accordion-button-custom h2 {
    font-size: 17px;
    font-weight: bold;
    width: 70%;
  }

  .arrow[aria-expanded="true"]::after {
    font-family: "Bootstrap-icons";
    content: "\F2EA";
    position: absolute;
    right: 50px;
    font-weight: bold;
  }

  .arrow[aria-expanded="false"]::after {
    font-family: "Bootstrap-icons";
    content: "\F64D";
    position: absolute;
    right: 50px;
    font-weight: bold;
  }

  /* ============================================================ */
}
/* END MOBILE ==========================================================================================*/

/* CSS untuk menghapus margin dan padding pada body */
body {
  margin: 0;
  padding: 0;
}
/* CSS untuk tampilan mobile */
@media (max-width: 767px) {
  .custom-hero {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
/* CSS untuk menghindari scroll horizontal */
html,
body {
  overflow-x: hidden;
}
/* CSS untuk mengubah peletakan dan ukuran tombol burger pada tampilan mobile */
@media (max-width: 767px) {
  .navbar-toggler {
    position: absolute;
    right: 10px; /* Sesuaikan dengan jarak dari tepi kanan */
    top: 10px; /* Sesuaikan dengan jarak dari tepi atas */
    padding: 5px 10px; /* Sesuaikan ukuran padding sesuai kebutuhan */
  }

  .navbar-toggler-icon {
    color: white; /* Sesuaikan dengan warna yang Anda inginkan */
    font-size: 24px; /* Sesuaikan dengan ukuran yang Anda inginkan */
  }
}
/* CSS Khusus Untuk Footer */
footer {
  background-color: #d9d9d9;
  padding: 50px 0;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
}

/* Atur tampilan di layar desktop */
@media (min-width: 768px) {
  footer {
    padding: 50px;
  }

  .footer-logo {
    max-width: 150px;
  }
}
